SPATIAL_DATA_API_APP_ENV=development
SPATIAL_DATA_API_API_PREFIX=/api/v1
SPATIAL_DATA_API_REPOSITORY_BACKEND=postgis
SPATIAL_DATA_API_DATA_PATH=src/spatial_data_api/data/sample_features.geojson
SPATIAL_DATA_API_DATABASE_URL=postgresql+psycopg://spatial:spatial@database:5432/spatial